
@use "_header.scss";
@use "_footer.scss";
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: grey;
}
$main-font-size: 2rem;
img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 100px;
}

#main_para {
    display: grid;
    min-height: 80vh;
    place-items: center;
    text-align: center;
    background-color: pink;
    border: dotted;
    >p{
        font-size: 0.8rem;
        color: rgb(121, 85, 85);
        background-color: pink;
        padding-left: 30px;
        padding-right: 30px;
    }
}